@page "/"
@if (projects.Count() > 0)
{
    <div class="home-container">
  
        <h4>Projects In Progress</h4>
        <div class="projects-container">
          @foreach (var project in projects)
          {
              if (project.Status?.StatusDescription == "In Progress")
              {
                  <ProjectCard Project="project"/>
              }
          }
        </div>

        <h4>Projects Not Started</h4>
        <div class="projects-container">
          @foreach (var project in projects)
          {
              if(project.Status?.StatusDescription == "Not Started")
              {
                  <ProjectCard Project="project"/>
              }
          }
        </div>

        <h4>Projects Finished</h4>
        <div class="projects-container">
          @foreach (var project in projects)
          {
              if (project.Status?.StatusDescription == "Finished")
              {
                  <ProjectCard Project="project"/>
              }
          }
        </div>
    </div>
}
else
{
    <div class="nodata">
        <p>There's no projects to show</p>
        <button class="btn btn-dark" @onclick="()=>{NavigateToProjectRegister();}">Create Project</button>
    </div>
}

@code {
    IEnumerable<Project> projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateProjectList();
    }

    private async Task UpdateProjectList()
    {
        projects = await _projectService.GetAllProjectsAsync();
    }

    private void NavigateToProjectRegister()
    {
        NavigationManager.NavigateTo($"/projects/register");
    }
}