.home-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.5em;
  padding: 3em;
  transition: 0.3s;
}
.projects-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
}