.top-bar{
  background-color: #333;
  color: white;
  height: 56px;
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}
.top-bar-goback-text{
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer ;
  &:hover{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.6);
  }
}
.project-view-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.15);

  h6, h4{
    color: white;
    font-weight: 600;
  }
}

.project-view-lines{
  display: flex;
  flex-direction: column;

  gap: 1em;
  .description{
    max-width: 300px;
    text-wrap: wrap;
  }
}
.right-lines{
  margin-top: 2rem;
}
.project-view-edit{
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  span{
    cursor: pointer;
    color: rgb(50, 183, 236);
    transition: all .3s;
    &:hover{
      color: wheat;
      scale: 1.1;
      font-weight: 600;
    }
  }
  
}
.service-edit-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
div{
  Input, Select, TextArea{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    min-width: 100%;
    
  }
}

.cost-inputfield-wrapper{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

