.top-bar{
  position: sticky;
  background-color: #333;
  color: white;
  height: 56px;
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  .top-bar-adduser-text{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer ;
  }
}
.top-bar-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.add-user{
  height: fit-content;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.add-user-input-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 0.5em;
}

.add-user-input-field{
  margin-top: 0.5em;
}

button{
  padding: 0.5em 1em;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 135px;
  font-weight: semibold;
}

.hover-darken:hover{
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.add-project-container{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}



