.top-bar{
  position: sticky;
  background-color: #333;
  color: white;
  height: 56px;
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  .top-bar-adduser-text{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer ;
  }
}

.customer-list-container{
  
  th{
    color: white;
  }
  td{
    color: rgba(255, 255, 255, 0.75);
  }
}

.hover-darken:hover{
  transition: 0.3s;
  td{
    color: rgba(255, 255, 255, 1);
  }
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}




